@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
    overflow-x:hidden;
}

/* Добавьте этот CSS в ваш глобальный файл стилей или в компоненте */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform, box-shadow;
}

.card:hover {
    transform: scale(1.025); /* Увеличение размера карточки */
}
